
@{
    ViewBag.Title = "DuplicateUser";
}

<br />
<div class="alert alert-danger">
    <h2>Not Allowed</h2>
    <p>That user already exists - request not saved</p>
</div>
<br />
@Html.ActionLink("Return Home", "Index", "Home")

