
@{
    ViewBag.Title = "NotAuthenticated";
}

<br />
<div class="alert alert-danger">
    <h2>Not Allowed</h2>
    <p>You need to be logged in to see that</p>
</div>
<br />
@Html.ActionLink("Return Home", "Index", "Home")

