@{
    ViewBag.Title = "About Me";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>
    I am a senior pursuing my bachelor's degree in Business Administration at Ohio University. 
    To be more specific, I am studying Economics, Management Information Systems, & Data Analytics. 
    My studies allow me to uncover the relationships between things both in personal and professional settings which gives me a better understanding of the world.
    My time at Ohio University has allowed me to develop myself in many ways. 
    I have had the opportunity to not only join several selective organizations on campus but also hold leadership positions within these organizations. 
    I am proud to have made an impact on these organizations and make sure that they are better when I leave them compared to when I joined them. 
    All of these organizations have honed my business skills, taught me valuable life lessons, and built my leadership.
    Through my coursework, organizations, and previous work experience, I strive to perform at my highest level at all times! 
    I will be starting my career as a junior search consultant at Alliance Search Solutions in May 2020!
</p>
