@{
    ViewBag.Title = "Contact Information";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    25 Kurtz Street<br />
    Apartment 210<br />
    Athens, OH 45701<br />    
</address>

<address>
    <strong>Phone:</strong> 216.978.5782<br />
    <strong>Email:</strong> <a href="mailto:df984515@ohio.edu">df984515@ohio.edu</a>
</address>